version: "3"

services:
  bokemasho-frontend:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    container_name: bokemasho-frontend
    volumes:
      - ./src/frontend:/app
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    ports:
      - "${IP}:3000:3000"
    tty: true

  bokemasho-backend:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    container_name: bokemasho-backend
    volumes:
      - ./src/backend:/app
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
      - ./cron:/usr/log/cron
    ports:
      - "${IP}:8080:8080"
    tty: true

  bokemasho-nginx:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    container_name: bokemasho_web
    ports:
      - "${IP}:80:80"
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./src:/src
      - ./nginx_log/:/var/log/nginx

  bokemasho_db:
    build: ./docker/mysql
    volumes:
      - db-store_bokemasho:/var/lib/mysql
    ports:
      - "${IP}:13306:3306"
    environment:
      TZ: Asia/Tokyo
    container_name: bokemasho_db

  bokemasho-phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=bokemasho_db
      - PMA_USER=hiro
      - PMA_PASSWORD=pass
    ports:
      - "${IP}:4400:80"
    depends_on:
      - bokemasho_db
    container_name: bokemasho_phpmyadmin

  bokemasho_db_test:
    build: ./docker/mysql-test
    volumes:
      - db-store_bokemasho_test:/var/lib/mysql
    ports:
      - "${IP}:3307:3306"
    environment:
      TZ: Asia/Tokyo
    container_name: bokemasho_db_test

  bokemasho-phpmyadmin_test:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=bokemasho_db_test
      - PMA_USER=hiro
      - PMA_PASSWORD=pass
    ports:
      - "${IP}:8889:80"
    depends_on:
      - bokemasho_db_test
    container_name: bokemasho_phpmyadmin_test

  mailhog:
    image: mailhog/mailhog
    ports:
      - "${IP}:8025:8025"
    container_name: bokemasho_mailhog

volumes:
  db-store_bokemasho:
  db-store_bokemasho_test:
